.bg-order-container{
    border:solid 1px #655b5b;
    margin:25px;

}
.bg-order{
    margin-left: 30px;
    margin-top: 0px;
    width:90%;
}
.search-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
}
.body-items{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Use center for vertical alignment */
  margin-bottom: 10px; /* Adjust margin for spacing between items */

}

.image-icon{
    height: 40px;
  width: 40px;
  margin-right: 10px;

}
.items{
    display: flex;
    align-items: center; /* Align items vertically in flex container */
    margin: 0;
    
}
.search-bar{
    width:200px;
    height:30px;
    margin-top: 20px;
    
}
.button-approve{
    background-color: #205902;
    color: #fff;
    border-radius:20px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    margin:20px;
    outline:0px; 
}