.button-elements{
    display: flex;
    flex-direction: row;
    
    
}
.decision-item{
    border-radius: 10px;
    border:0px;
    outline: none;
    padding: 5px;
    color:#fff;
    margin-right: 3px;
    
}
.header{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}
.into-btn{
    margin-top: 0px;
    align-self: flex-end;
}
