.table-contents{
    margin-top: 0px;
    width:100%;
    padding:0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table-header {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Use center for vertical alignment */
  margin-bottom: 10px; /* Adjust margin for spacing between items */
  border-bottom:1px solid #1d1b1b;
  width: 80vw;
}
.table-header-cell {
    width:10%;
    padding: 8px;
    margin-left: 4px;
    align-items: center;
}
.product-name1{
    width: 20%;
    align-items: center;
}
.product-name{
    width: 20%;
    align-items: center;
}